.blog-list-page {
  width: 100vw;
  min-height: 100vh;
  /* background: #000; */
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  box-shadow: 0 0 100px 100px rgba(0, 0, 0, 0.25);
}


.blog-grid-container {
  width: 100%;
  padding: clamp(30px, 10vw, 194px) clamp(20px, 4vw, 76px);
  position: relative;
  z-index: 1;
}

.blog-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 384px));
  gap: clamp(40px, 4vw, 76px);
  justify-content: center;
  max-width: 1840px;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .blog-grid {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 30px;
  }
  
  .search-input-wrapper {
    width: 90%;
  }
}
