.blog-list-page {
  width: 100vw;
  min-height: 100vh;
  /* background: #000; */
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  box-shadow: 0 0 100px 100px rgba(0, 0, 0, 0.25);
}


.blog-grid-container {
  width: 100%;
  padding: clamp(15vh, 10vw, 194px) clamp(20px, 4vw, 76px);
  position: relative;
  z-index: 1;
}

.blog-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 384px));
  gap: clamp(40px, 4vw, 76px);
  justify-content: center;
  /* max-width: 1840px; */
  max-width: 95vw;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .blog-grid {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 30px;
  }
  
  .search-input-wrapper {
    width: 90%;
  }
}





/* .loading-container {
  width: 60%;
  height: 30%;
  padding: clamp(15vh, 10vw, 194px) clamp(20px, 4vw, 76px);
  position: fixed;
  top:35%;
  left:20%;
  z-index: 1;
  border-radius: 20px;
  border: 5px solid var(--border);
  background-color: var(--text-bg);
  background-image: radial-gradient(
    color-mix(in srgb, var(--base-light) 75%, transparent), var(--text-bg) 110%
  );
  box-shadow: 0 4px 100px 10px color-mix(in srgb, var(--border) 25%, transparent);
}

.loading-text{
  color: var(--text-color);
  text-align: center;
  font-family: Inconsolata, monospace;
  text-shadow: 0 0 5px #C8C8C8;
  font-size: 1rem;
} */


