.guestbook-wrapper{
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.guestbook-signatures{
    position: relative;
    overflow-y: scroll;
    
    flex: 1;
    
    overflow-x: hidden;
}
.guestbook-signature-entry{
    /* height: 50px; */
    border-radius: 20px;
    background-color: color-mix(in srgb, var(--base-dark) 40%, transparent);
    border: 3px solid var(--border);
    /* margin-bottom: 5px;
    margin-top:5px; */
    margin: 5px 5px 5px 5px;
    padding: 5px 5px 5px 5px;
    text-wrap: wrap;
}

.guestbook-background{
    border: 5px solid var(--border);
    border-radius: 10px;
    background-color: var(--text-bg);
    background-image: radial-gradient(
        color-mix(in srgb, var(--base-light) 75%, transparent), var(--text-bg) 110%
    );
    width: 100%;
}


.guestbook-block-inputs{
    text-align: center;
    margin-bottom: 20px;
}