.home-button-wrapper{
  width: 60px;
  height: 60px;
  z-index: 200;
  border-radius: 20px;
  border: 5px solid var(--border);
  background-color: var(--text-bg);
  background-image: radial-gradient(
    color-mix(in srgb, var(--base-light) 75%, transparent), var(--text-bg) 110%
  );
  box-shadow: 0 4px 100px 10px color-mix(in srgb, var(--border) 25%, transparent);
  position: fixed;
  left:calc(15% - 50px);
  top:45px;
  /* padding: 0 20px; */
  transition: transform 0.3s ease;
}

.home-button-wrapper-centered{
    width: 120px;
    height: 120px;
    z-index: 200;
    border-radius: 20px;
    border: 5px solid var(--border);
    background-color: var(--text-bg);
    background-image: radial-gradient(
        color-mix(in srgb, var(--base-light) 75%, transparent), var(--text-bg) 110%
    );
    box-shadow: 0 4px 100px 10px color-mix(in srgb, var(--border) 25%, transparent);
    position: fixed;
    left: 50%;
    top: 75%;
    transform: translate(-50%, -50%);
    transition: transform 0.3s ease;
}

.home-button{
    width: 50%;
    height: 50%;
  color: var(--text-color);
  background: color-mix(in srgb, var(--base-light) 70%, var(--text-bg) 30%);
  box-shadow: 0 0 20px #C8C8C8;
  letter-spacing: 0.5px;
  border-radius: 5px;
  border:2px;
  transition: background-color 0.3s ease;
  position: absolute;
  left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.home-button-wrapper:hover{
    background-color: var(--base-light);
    
}

.home-button-wrapper-centered:hover{
    background-color: var(--base-light);
    
}