.landing-page {
  width: 100%;
  height: 100%;
  position: fixed;
  overflow: scroll;
}

.lander-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.blog-title {
  font-family: 'Ephesis', -apple-system, Roboto, Helvetica, sans-serif;
  font-weight: 400;
  font-size: clamp(50px, 12.5vw, 240px);
  color: color-mix(in srgb, var(--border) 55%, transparent);
  fill: color-mix(in srgb, var(--border) 55%, transparent);
  -webkit-text-stroke: 2px #000;
  filter: drop-shadow(0 0 100px color-mix(in srgb, var(--border) 25%, transparent));
  position: relative;
  top: 40px;
  white-space: nowrap;
  z-index: 2;
  text-shadow: 0 0 10px #C8C8C8;
  text-align: center;
}

.lander-button-container {
  position: relative;
  width: 100%;
  /* top: calc(clamp(80px, 12.5vw, 240px) + 40px + 20px); */
  /* top:calc(50% + 40px + 20px); */
  /* transform: translateY(-50%); */
  left: 0;
  text-align: center; /* Centers inline/inline-block children */
}

.button-wrapper {
  max-width: 384px;
  left:50%;
  transform:translateX(-50%);
  position: relative;
}

/* .button-wrapper div {
  display: inline-block;
  margin: 0 5px;
  vertical-align: middle;
} */

/* @media (max-width: 768px) {
  
  .lander-button-container {
    top: 95px;
  }
} */

@media (max-width: 600px) {
  .blog-title{
    top:0px;
  }
}

@media (max-height: 578px) {
  .blog-title{
    top:0px;
  }
}