.search-bar-container {
  width: 100%;
  height: 150px;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;
  transition: transform 0.3s ease;
}

/* .search-bar-glow {
  width: clamp(600px, 57vw, 1097px);
  height: 150px;
  border-radius: 100%;
  background: var(--text-color);
  box-shadow: 0 40px 100px 100px rgba(0, 0, 0, 0.25);
  filter: blur(15px);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
} */
.search-bar-glow {
  width: 70%;
  height: 100%;
  border-radius: 100px;
  background: var(--base-light);
  box-shadow: 0 0 50px 40px color-mix(in srgb, var(--border) 25%, transparent);
  filter: blur(50px);
  position: absolute;
  left: 17.5%;
  top: 0;
}

.search-input-wrapper {
  width: clamp(400px, 50vw, 955px);
  height: 60px;
  border-radius: 20px;
  border: 5px solid var(--border);
  background: var(--text-bg);
  box-shadow: 0 4px 100px 10px color-mix(in srgb, var(--border) 25%, transparent);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 45px;
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.search-bar-container:hover {
  transform: scale(1.05);
}

.search-input {
  flex: 1;
  border: none;
  background: transparent;
  font-family: 'Encode Sans Semi Expanded', -apple-system, Roboto, Helvetica, sans-serif;
  font-weight: 400;
  font-size: clamp(20px, 1.56vw, 30px);
  color: var(--text-color);
  letter-spacing: 0.5px;
  outline: none;
}

.search-input::placeholder {
  color: var(--text-color);
}

.search-icon {
  font-family: 'Encode Sans Semi Expanded', -apple-system, Roboto, Helvetica, sans-serif;
  font-weight: 400;
  font-size: clamp(20px, 1.56vw, 30px);
  color: var(--text-color);
  letter-spacing: 0.5px;
  border:2px;
}