.blog-tile:hover {
  transform: scale(1.05);
}

.blog-tile-glow {
  width: 100%;
  height: 100%;
  border-radius: 80px;
  background: var(--border);
  box-shadow: 0 0 50px 40px color-mix(in srgb, var(--border) 25%, transparent);
  filter: blur(50px);
  position: absolute;
  left: 0;
  top: 0;
}

.blog-tile-card {
  width: calc(100% - 40px);
  height: calc(100% - 40px);
  border-radius: 65px;
  border: 5px solid var(--border);
  background-color: var(--text-bg);
  background-image: radial-gradient(
    color-mix(in srgb, var(--base-light) 75%, transparent), var(--text-bg) 110%
  );
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  position: absolute;
  left: 20px;
  top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px 39px;
}

.blog-tile-title {
  width: 100%;
  max-width: 306px;
  text-align: center;
  color: var(--text-color);
  font-family: Inconsolata, monospace;
  text-shadow: 0 0 5px #C8C8C8;
  font-size: 1.2em;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.5px;
  margin-bottom: 20px;
  text-overflow: ellipsis;
}

.blog-tile-description {
  width: 100%;
  max-width: 306px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--text-color);
  text-align: center;
  font-family: Inconsolata, monospace;
  text-shadow: 0 0 5px #C8C8C8;
  font-size: clamp(12px, 2vw, 16px);
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.5px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.blog-tile-tags {
  width: 100%;
  max-width: 255px;
  text-align: center;
  color: var(--text-color);
  font-family: Inconsolata, monospace;
  text-shadow: 0 0 5px #C8C8C8;
  font-size: clamp(10px, 1vw, 12px);
  font-style: normal;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 0.5px;
  margin-top: 2px;
  text-overflow: ellipsis;
}

@media (max-width: 768px) {
  .blog-tile {
    height: 350px;
  }
  
  .blog-tile-card {
    padding: 30px 20px;
  }
}
