.app {
  width: 100%;
  min-height: 100vh;
  background: #000;
}

.background-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 200px;
  filter: blur(5px);
  position: absolute;
  left: 0;
  top: 0;
}