.app {
  width: 100%;
  min-height: 100vh;
  max-height: 100vh;
  background: #000;

  overflow-x: clip;

}

.background-image {
  width: 100%;
  height: 100%;
  object-fit: cover;

  filter: blur(5px);
  position: fixed;
  left: 0;
  top: 0;
}