:root {
  --base-light: #FEF389;
  --border: #7B8271;
  --text-color: #011E2C;
  --base-dark: #022E46;
  --text-bg: #FDF8D0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Encode Sans Semi Expanded', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: clip;
  overflow-y: visible !important;
  background-color: #000;
}

#root {
  width: 100vw;
  min-height: 100vh;
}
